.container {
    width: 900px;
    margin-left: calc(50% - 450px);
    margin-top: 5%;
    display: inline-block;
    position: relative;
}
.close {
    width: 40px;
    height: 40px;
    float: right;
    line-height: 40px;
    text-align: center;
    font-size: 40px;
    background-color: #000000;
    color: #FFFFFF;
    position: absolute;
}
.top-right {
    top: -70px;
    right: -10px;
}

.left {
    width: 33%;
    float: left;
}
.right {
    width: 40%;
    float: right;
    margin-top: 40px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.main-title{
    font-size: 135px;
    color: #1D4E12;
    text-align: center;
    margin: 0;
    line-height: 1em;
}
.description1 {
    font-size: 20px;
    font-weight: bold;
    color: #354B32;
    line-height: 1.2em;
    text-align: center;
    margin: 0;
}
.description2 {
    font-size: 20px;
    color: #A4A4A4;
    line-height: 1.2em;
    text-align: center; 
}
.button {
    text-align: center; 
    display: inline-block; 
    margin-left: 110px; 
    background-color: #5BAF4D; 
    color: #FFFFFF; 
    padding: 15px; 
    padding-left: 30px; 
    padding-right: 30px; 
    text-decoration: none; 
    text-transform: none;
}